html{font-size: 62.5%;}
body {
  padding: 2rem;
  font: 1.4rem "Lucida Grande", Helvetica, Arial, sans-serif;
}
a.list-group-item {
  margin-bottom: 0.2rem;
  border-radius:0.8rem;
}
hr{
  height:0.1rem;
  border:none;
  border-top:0.1rem ridge #000000;
}
.arrDown{
  font-weight:bold;
  color: #00e12e;
}
.arrUp{
  font-weight:bold;
  color: #ff0100;
}
div.list-group {
  margin-top: 1rem;
}
